@import url("https://fonts.googleapis.com/css2?family=Lemonada&family=Philosopher&display=swap");

html {
  height: 100vh;
}

body {
  background-color: #f2e8c9;
  height: 100%;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
}

header {
  background-color: #9191a9;
}

header nav ul {
  width: fit-content;
  display: flex;
  margin: 0 auto;
}

header nav ul li {
  padding: 10px 20px;
  transition: 2s;
}

header nav ul li:hover {
  background-color: rgb(45, 94, 230);
  transition: 2s;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  color: #fff;
}

main {
  width: 1200px;
  margin: 40px auto;
  padding: 40px;
}

.main-wrapper img {
  display: block;
  width: 200px;
  height: 100%;
  margin: 0 auto;
  border-radius: 100%;
  transition: 2s;
  transform: rotate(0);
}

.main-wrapper img:hover {
  transform: rotate(360deg);
}

.text {
  margin-top: 20px;
  text-align: center;
}

footer {
  position: relative;
  top: calc(100% - 549px);
  width: 100%;
  height: 70px;
  background-color: #9191a9;
}

table td,
table th {
  border: 1px solid #000;
  padding: 10px;
}

.album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.album img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

input,
textarea,
select {
  border-radius: 20px;
  padding: 15px;
  border: 0;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  margin-top: 5px;
  transition: box-shadow 0.6s;
}

.radio-input {
  box-shadow: none;
}

select {
  padding: 10px;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none;
  transition: box-shadow 0.6s;
}

label {
  display: block;
}

button {
  border-radius: 20px;
  background-color: #9191a9;
  border: 0;
  color: #fff;
  padding: 15px 20px;
  font-weight: bold;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.6s;
}

button:hover {
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.6s;
}

.subject ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.subject ul li {
  border-right: 1px solid #000;
  font-weight: bold;
  padding: 10px;
}

.subject ul li a:hover {
  color: #555;
}

.subject ul li:last-child {
  border: 0;
}

.interest-wrapper {
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.interest-wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.interest-wrapper .interest-description {
  padding: 40px;
}

.interest-wrapper .interest-description .interest-title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
}

.interest-wrapper .interest-description .interest-text ul {
  list-style-type: disc;
  margin-top: 10px;
  margin-left: 20px;
}
