@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto&family=Roboto+Condensed&display=swap');
:root {
  --primary-color: #1871c3;
  --grey-color: #e8e8e8;
  --main-font: 'Playfair Display', sans-serif;
  --second-font: 'Roboto Condensed', sans-serif;
}

header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  backdrop-filter: saturate(180%) blur(5px);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  border-bottom: 1px solid #323232;
}

header nav {
  display: flex;
}

#time {
  color: #fff;
  font-family: var(--main-font);
  align-self: center;
  margin-right: 20px;
  font-size: 20px;
}

header nav ul {
  width: fit-content;
  display: flex;
  margin: 0 auto;
}

header nav li {
  position: relative;
  padding: 25px 20px;
  color: #fff;
  font-size: 18px;
  font-family: var(--main-font);
  font-weight: bold;
}

header nav li a {
  color: #fff;
  transition: .3s;
}

header nav li a:hover {
  color: var(--primary-color);
  transition: .3s;
}

header nav li a.active {
  color: var(--primary-color);
}

.sub-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 60px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 60px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -9px rgba(0, 0, 0, 0.75);
}

.sub-menu li {
  text-align: center;
  padding: 20px 10px;
}

.sub-menu a {
  color: #000;
}

main {
  width: 1200px;
  /* height: 3000px; */
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: #fff;
}

.content-wrapper {
  line-height: 32px;
  font-family: var(--second-font);
}

.page-name {
  position: relative;
  width: 100%;
  font-size: 32px;
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.page-name span {
  position: relative;
  z-index: 10;
  background-color: #fff;
  padding: 0 25px;
}

.page-name:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #414141;
  z-index: 2;
}

.person-info-wrapper {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-gap: 50px;
  margin-top: 50px;
  font-family: var(--second-font);
  font-size: 20px;
}

.person-info-wrapper img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 50%;
}

.grey-block, .white-block {
  width: 100%;
  background-color: var(--grey-color);
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
}

.white-block {
  background-color: #fff;
}

.content>span {
  font-weight: bold;
  font-size: 28px;
}

.content ul {
  margin-top: 20px;
  font-size: 18px;
}

.content ul a {
  display: block;
  transition: .3s;
}

.content ul a:hover {
  color: var(--primary-color);
  transition: .3s;
}

.parallax-wrapper {
  position: relative;
  margin-top: 100px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 86px -33px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 86px -33px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 86px -33px rgba(0, 0, 0, 0.75);
  min-height: 400px;
}

.parallax-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  min-height: 400px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
  filter: brightness(40%);
  z-index: 4;
}

.parallax {
  display: grid;
  position: relative;
  z-index: 5;
  padding: 60px;
  color: #fff;
  justify-content: center;
  text-align: center;
}

.parallax-title {
  font-size: 50px;
  font-weight: bold;
  font-family: var(--main-font);
}

.parallax-hr {
  width: 80px;
  height: 2px;
  margin: 30px auto;
  background-color: #fff;
  border: 0;
}

.parallax-content {
  font-size: 24px;
}

.parallax-content ol {
  list-style: decimal;
}

.text-bold {
  font-weight: bold;
}

.education-page {
  font-size: 18px;
}

.education-page table th {
  font-weight: bold;
  vertical-align: middle;
}

.education-page table * {
  padding: 5px;
  border: 1px solid #000;
}

.album{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
}

.album img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  height: 100px;
  object-fit: cover;
}

.album img:hover{
  cursor: pointer;
}

.album figure{
  position: relative;
}

.album figcaption {
  width: 100%;
  text-align: center;
}

#album_img {
  display: none;
  width: auto;
  height: 700px;
  top: 100px;
  position: fixed;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 100px -5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 100px -5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 100px -5px rgba(34, 60, 80, 0.2);
  z-index: 100;
}

#album_img img {
  width: 1110px;
  height: 700px;
  border-radius: 10px;
  object-fit: cover;
}

#album_img span{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 22px;
  color: #000;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.8);
  padding: 20px 0;
}

#black_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

#black_bg:hover {
  cursor: pointer;
}

.contact-form p:not(.radio) {
  font-weight: bold;
  margin-top: 20px;
  font-size: 20px;
}

.contact-form p:nth-child(1) {
  margin-top: 0;
}

input:not(.radio-input), textarea {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  font-size: 16px;
  font-family: var(--second-font);
  transition: .3s;
}

input:focus, textarea:focus {
  border: 2px solid var(--primary-color);
  transition: .3s;
}

.main-btn {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #000;
  font-family: var(--second-font);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: .3s;
}

.main-btn:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: .3s;
}

select {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  font-size: 16px;
  font-family: var(--second-font);
  transition: .3s;
}

select:hover {
  border: 2px solid var(--primary-color);
  transition: .3s;
  cursor: pointer;
}

.error {
  display: none;
  margin-top: 0 !important;
  color: #D32F2F;
}

.calendar-wrapper {
  position: relative;
}

#calendar {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  top: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 50px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 50px 0px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #2b4450;
  color: #fff;
}

.calendar-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 0;
  align-items: center;
}

#today_day_of_week {
  margin-left: 20px;
  padding: 5px 15px;
  transition: .3s;
}

#today_day_of_week:hover {
  cursor: pointer;
  border-radius: 100px;
  background-color: var(--grey-color);
  color: #000;
  transition: .3s;
}

#calendar .day-of-week {
  justify-self: flex-start;
}

#calendar select {
  border: 0;
  border-radius: 0;
  width: auto;
  background-color: #2b4450;
  color: #fff;
  justify-self: flex-end;
}

#calendar input {
  width: 60px;
  border: 0;
  border-radius: 0;
  background-color: #2b4450;
  color: #fff;
}

#calendar hr {
  border: 0;
  background-color: rgba(73, 114, 133, .6);
  width: 100%;
  height: 1px;
  margin: 0;
}

#calendar table tbody td {
  padding: 5px 15px;
  text-align: center;
  transition: .3s;
  border-radius: 100px;
  margin-left: 10px;
}

#calendar table tbody td.active {
  background-color: #f78536;
}

#calendar table tbody tr:not(.not-hover) td:not(.not-hover):hover {
  cursor: pointer;
  transition: .3s;
  background-color: var(--grey-color);
  color: #000;
}

#days {
  padding: 10px;
}

.days-of-week {
  padding-left: 10px;
}