!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Главная страница
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/active_menu.js", :type => "text/javascript"}
    %script{:src => "js/date.js", :type => "text/javascript"}
  %body{:onload => "saveHistory('main');"}
    %header
      .wrapper
        .logo
          %a{:href => "index.html"}
        #topMenu.top-menu
          %ul#menu
            %li
              %a{:href => "index.html"} ГЛАВНАЯ СТРАНИЦА
            %li
              %a{:href => "page1.html"} ОБО МНЕ
            %li
              %a{:href => "page2.html"} УЧЁБА
            %li.menu-item
              %a#page3{:href => "page3.html"} МОИ ИНТЕРЕСЫ
              %ul.sub-menu
                %li#hobby
                  %a{:href => "../WEB_1/page3.html#hobby"} МОЁ ХОББИ
                %li#books
                  %a{:href => "../WEB_1/page3.html#books"} МОИ ЛЮБИМЫЕ КНИГИ
                %li#movies
                  %a{:href => "../WEB_1/page3.html#movies"} МОИ ЛЮБИМЫЕ ФИЛЬМЫ
            %li
              %a{:href => "page4.html"} ФОТОАЛЬБОМ
            %li
              %a{:href => "page5.html"} КОНТАКТ
            %li
              %a{:href => "page6.html"} ТЕСТ
            %li
              %a{:href => "page7.html"} ИСТОРИЯ ПРОСМОТРА
      #node
    .content
      .section
        .picture
          %img{:alt => "Ошибка загрузки изображения!", :src => "img/я.jpg"}/
        .text
          %p Николенко Виктория Вадимовна
          %p ПИ/б-18-1о
          %p 1 ЛАБОРАТОРНЯ РАБОТА №1
          %p «Исследование возможностей языка разметки гипертекстов HTML и каскадных таблиц стилей CSS»
    %footer
      %address.picture
        %a{:href => "https://vk.com/nikolenko99"}
          %img{:alt => "Ошибка загрузки изображения!", :src => "icon/VK.png"}/
        %a{:href => "https://www.instagram.com/nikolenko_nv/"}
          %img{:alt => "Ошибка загрузки изображения!", :src => "icon/INSTAGRAM.png"}/
      %p СЕВАСТОПОЛЬ 2020
    %script{:src => "js/child_menu.js", :type => "text/javascript"}
    %script{:src => "js/history.js", :type => "text/javascript"}
