!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title ОБО МНЕ
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/active_menu.js", :type => "text/javascript"}
    %script{:src => "js/date.js", :type => "text/javascript"}
  %body
    %header
      .wrapper
        .logo
          %a{:href => "index.html"}
            %span.NV NV
        .top-menu
          %ul#menu
            %li
              %a{:href => "index.html"} ГЛАВНАЯ СТРАНИЦА
            %li
              %a{:href => "page1.html"} ОБО МНЕ
            %li
              %a{:href => "page2.html"} УЧЁБА
            %li.menu-item
              %a#page3{:href => "page3.html"} МОИ ИНТЕРЕСЫ
              %ul.sub-menu
                %li#hobby
                  %a{:href => "../WEB_1/page3.html#hobby"} МОЁ ХОББИ
                %li#books
                  %a{:href => "../WEB_1/page3.html#books"} МОИ ЛЮБИМЫЕ КНИГИ
                %li#movies
                  %a{:href => "../WEB_1/page3.html#movies"} МОИ ЛЮБИМЫЕ ФИЛЬМЫ
            %li
              %a{:href => "page4.html"} ФОТОАЛЬБОМ
            %li
              %a{:href => "page5.html"} КОНТАКТ
            %li
              %a{:href => "page6.html"} ТЕСТ
            %li
              %a{:href => "page7.html"} ИСТОРИЯ ПРОСМОТРА
      #node
    %article ОБО МНЕ
    .text_me
      %p Я,Николенко Виктория Вадимовна,27.10.2000 года рождения,уроженка города Симферополь.
      %p В 2005 году пошла в хореографический ансамбль "Жемчужина".В 2018 году окончила его красным дипломом.Также с 2017 года по 2018 год занималась в хореографической школе танца "Paradox Dance".
      %p В 2018 году поступила в Севастопольский государственный университет,в Институт информационных технологий и управления в технических системах на кафедру Информационные системы ,на направление 09.03.03 - Прикладная информатика.
      %p
        В свободное время люблю читать книги,подробнее вы можете узнать на странице
        %a{:href => "page3.html"} МОИ ИНТЕРЕСЫ
    %footer
      %address.picture
        %a{:href => "https://vk.com/nikolenko99"}
          %img{:alt => "Ошибка загрузки изображения!", :src => "icon/VK.png"}/
        %a{:href => "https://www.instagram.com/nikolenko_nv/"}
          %img{:alt => "Ошибка загрузки изображения!", :src => "icon/INSTAGRAM.png"}/
      %p СЕВАСТОПОЛЬ 2020
    %script{:src => "js/child_menu.js", :type => "text/javascript"}
    %script{:src => "js/history.js", :type => "text/javascript"}
