!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title УЧЁБА
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/tegs_1.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/active_menu.js", :type => "text/javascript"}
    %script{:src => "js/date.js", :type => "text/javascript"}
  %body
    %header
      .wrapper
        .logo
          %a{:href => "index.html"}
            %span.NV NV
        .top-menu
          %ul#menu
            %li
              %a{:href => "index.html"} ГЛАВНАЯ СТРАНИЦА
            %li
              %a{:href => "page1.html"} ОБО МНЕ
            %li
              %a{:href => "page2.html"} УЧЁБА
            %li.menu-item
              %a#page3{:href => "page3.html"} МОИ ИНТЕРЕСЫ
              %ul.sub-menu
                %li#hobby
                  %a{:href => "../WEB_1/page3.html#hobby"} МОЁ ХОББИ
                %li#books
                  %a{:href => "../WEB_1/page3.html#books"} МОИ ЛЮБИМЫЕ КНИГИ
                %li#movies
                  %a{:href => "../WEB_1/page3.html#movies"} МОИ ЛЮБИМЫЕ ФИЛЬМЫ
            %li
              %a{:href => "page4.html"} ФОТОАЛЬБОМ
            %li
              %a{:href => "page5.html"} КОНТАКТ
            %li
              %a{:href => "page6.html"} ТЕСТ
            %li
              %a{:href => "page7.html"} ИСТОРИЯ ПРОСМОТРА
      #node
    %article
      УЧЁБА
      %p
        «Институт информационных технологий и управления в технических системах»/p&gt;
      %p кафедра«Информационные системы »
      %p СевГУ 2020
    %table
      %thead
        %tr
          %th{:colspan => "17"} ПЛАН УЧЕБНОГО ПРОЦЕССА
      %tr
        %th{:rowspan => "2"} №
        %th{:rowspan => "2"} Дисциплина
        %th{:colspan => "7", :rowspan => "2"} Кафедра
        %th{:colspan => "6"} Всего часов
      %tr
        %th Всего
        %th Ауд
        %th Лк
        %th Лб
        %th Пр
        %th СРС
      %tr
        %th 1
        %td Экология
        %td БЖ
        %td{:colspan => "7"} 54
        %td 27
        %td 18
        %td 0
        %td 9
        %td 27
      %tr
        %th 2
        %td Высшая математика
        %td ВМ
        %td{:colspan => "7"} 540
        %td 282
        %td 141
        %td 0
        %td 141
        %td 258
      %tr
        %th 3
        %td Русский язык и культура речи
        %td НГиГ
        %td{:colspan => "7"} 108
        %td 54
        %td 18
        %td 0
        %td 36
        %td 54
      %tr
        %th 4
        %td Основы дискретной математики
        %td ИС
        %td{:colspan => "7"} 216
        %td 139
        %td 87
        %td 0
        %td 52
        %td 77
      %tr
        %th 5
        %td Основы программирования и алгоритмические языки
        %td ИС
        %td{:colspan => "7"} 405
        %td 210
        %td 105
        %td 87
        %td 18
        %td 195
      %tr
        %th 6
        %td Основы экологии
        %td ПЭОП
        %td{:colspan => "7"} 54
        %td 27
        %td 18
        %td 0
        %td 9
        %td 27
      %tr
        %th 7
        %td Теория вероятностей и математическая статистика
        %td ИС
        %td{:colspan => "7"} 162
        %td 72
        %td 54
        %td 18
        %td 0
        %td 90
      %tr
        %th 8
        %td Физика
        %td Физики
        %td{:colspan => "7"} 324
        %td 194
        %td 106
        %td 88
        %td 0
        %td 130
      %tr
        %th 9
        %td Основы электротехники и электроники
        %td ИС
        %td{:colspan => "7"} 108
        %td 72
        %td 36
        %td 18
        %td 18
        %td 36
      %tr
        %th 10
        %td Численные методы в информатике
        %td ИС
        %td{:colspan => "7"} 189
        %td 89
        %td 36
        %td 18
        %td 18
        %td 36
      %tr
        %th 11
        %td Методы исследования операций
        %td ИС
        %td{:colspan => "7"} 216
        %td 104
        %td 52
        %td 35
        %td 17
        %td 112
    %footer
      %address.picture
        %a{:href => "https://vk.com/nikolenko99"}
          %img{:alt => "Ошибка загрузки изображения!", :src => "icon/VK.png"}/
        %a{:href => "https://www.instagram.com/nikolenko_nv/"}
          %img{:alt => "Ошибка загрузки изображения!", :src => "icon/INSTAGRAM.png"}/
      %p СЕВАСТОПОЛЬ 2020
    %script{:src => "js/child_menu.js", :type => "text/javascript"}
    %script{:src => "js/history.js", :type => "text/javascript"}
