!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title КОНТАКТ
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "jQuery/jquery-3.0.0.min.js"}
    %script{:src => "js/active_menu.js", :type => "text/javascript"}
    %script{:src => "js/date.js", :type => "text/javascript"}
    %script{:src => "js/valid_contact.js", :type => "text/javascript"}
  %body
    %header
      %div{:id => "js/date.js"}
      .wrapper
        .logo
          %a{:href => "index.html"}
            %span.NV NV
        .top-menu
          %ul#menu
            %li
              %a{:href => "index.html"} ГЛАВНАЯ СТРАНИЦА
            %li
              %a{:href => "page1.html"} ОБО МНЕ
            %li
              %a{:href => "page2.html"} УЧЁБА
            %li.menu-item
              %a#page3{:href => "page3.html"} МОИ ИНТЕРЕСЫ
              %ul.sub-menu
                %li#hobby
                  %a{:href => "../WEB_1/page3.html#hobby"} МОЁ ХОББИ
                %li#books
                  %a{:href => "../WEB_1/page3.html#books"} МОИ ЛЮБИМЫЕ КНИГИ
                %li#movies
                  %a{:href => "../WEB_1/page3.html#movies"} МОИ ЛЮБИМЫЕ ФИЛЬМЫ
            %li
              %a{:href => "page4.html"} ФОТОАЛЬБОМ
            %li
              %a{:href => "page5.html"} КОНТАКТ
            %li
              %a{:href => "page6.html"} ТЕСТ
            %li
              %a{:href => "page7.html"} ИСТОРИЯ ПРОСМОТРА
      #node
    %article Свяжитесь со мной
    %legend Заполните форму
    %form.brd{:action => "mailto:viktoria.27.nikolenko@mail.ru", :autocomplete => "off", :method => "post", :name => "contact"}
      .fio.input_wrapper
        %input{:name => "fio", :onblur => "validate_name('ErName')", :placeholder => "Укажите ФИО", :size => "75", :type => "text"}/
        %span#ErName.Error
        %br/
        .poup_fio.popup
          %p ФИО должно содержать 3 слова
      .sex
        %p Пол:
        = succeed "\u{43c}\u{443}\u{436}\u{441}\u{43a}\u{43e}\u{439}" do
          %input{:name => "sex", :type => "radio", :value => "man"}/
        = succeed "\u{436}\u{435}\u{43d}\u{441}\u{43a}\u{438}\u{439}" do
          %input{:name => "sex", :type => "radio", :value => "women"}/
      .age
        %p Укажите возраст
        %select#age
          %option
          %option{:value => "0"} меньше 15
          %option{:value => "1"} от 16 до 20
          %option{:value => "2"} от 21 до 30
          %option{:value => "3"} больше 30
      .calendar-wrapper
        %p Дата рождения
        %input#birthday{:enabled => "0", :name => "birthday", :onblur => "validate_date()", :onclik => "calendar(new Date())", :readonly => "readonly", :type => "text", :value => ""}/
        %span#ErDate.Error
        #calendar
          .calendar-header
            .left-calendar-header
              %span#today_day_of_week Понедельник 1
            .right-calendar-header
              %select#selectMonth{:name => ""}
                %option{:value => ""} ЯНВАРЬ
                %option{:value => ""} ФЕВРАЛЬ
                %option{:value => ""} МАРТ
                %option{:value => ""} АПРЕЛЬ
                %option{:value => ""} МАЙ
                %option{:value => ""} ИЮНЬ
                %option{:value => ""} ИЮЛЬ
                %option{:value => ""} АВГУСТ
                %option{:value => ""} СЕНТЯБРЬ
                %option{:value => ""} ОКТЯБРЬ
                %option{:value => ""} НОЯБРЬ
                %option{:value => ""} ДЕКАБРЬ
              %input#selectYear{:type => "number", :value => "2020"}/
          %hr/
          .content
            #days
              %table
                %tr.not-hover
                  %td ПН
                  %td ВТ
                  %td СР
                  %td ЧТ
                  %td ПТ
                  %td СБ
                  %td ВС
                %tr
                %tr
                %tr
                %tr
                %tr
                %tr
      %br/
      .phone.input_wrapper
        %input{:name => "phone", :onblur => "validate_phone('ErPhone')", :placeholder => "Укажите номер телефона", :type => "phone"}/
        %span#ErPhone.Error
        .poup_phone.popup
          %p Номер начинается на 7 или 3
      %br/
      .email.input_wrapper
        %input{:name => "replyto", :onblur => "validate_email('ErMail')", :placeholder => "Укажите e-mail", :size => "75", :type => "email"}/
        %span#ErMail.Error
        .poup_email.popup
          %p Например, name@mail.ru
      %br/
      %div
        %textarea{:cols => "77", :name => "message", :onblur => "validate_message()", :placeholder => "Введите текст сообщения", :rows => "7"}
      %button{:name => "submit"}
        %a.modal{"data-pouptext" => "Вы действительно хотите отправить форму?", "data-type" => "submit", :href => "#"}
          Отправить
      #modal_form
        %p
        %button#modal_close_YES{:type => "submit"} ДА
        %button#modal_close_NO{:type => "button"} НЕТ
      #overlay
      %button{:name => "clear"}
        %a.modal{"data-pouptext" => "Вы действительно хотите очистить форму?", "data-type" => "reset", :href => "#"} Очистить
    %footer
      %address.picture
        %a{:href => "https://vk.com/nikolenko99"}
          %img{:alt => "Ошибка загрузки изображения!", :src => "icon/VK.png"}/
        %a{:href => "https://www.instagram.com/nikolenko_nv/"}
          %img{:alt => "Ошибка загрузки изображения!", :src => "icon/INSTAGRAM.png"}/
      %p СЕВАСТОПОЛЬ 2020
    %script{:src => "js/child_menu.js", :type => "text/javascript"}
    %script{:src => "js/calendar.js", :type => "text/javascript"}
    %script{:src => "js/history.js", :type => "text/javascript"}
