@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

#album_img .next-img {
  display: flex;
  width: 40px;
  position: absolute;
  top: 0;
  right: 30px;
  height: 100%;
  z-index: 100;
}
#album_img .prev-img {
  display: flex;
  width: 40px;
  position: absolute;
  top: 0;
  right: 30px;
  height: 100%;
  z-index: 100;
  left: 30px;
}
#album_img .next-img span, #album_img .prev-img span {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 40px;
  height: 40px;
  color: #fff;
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 22px;
}
#album_img .next-img span:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  border-radius: 50px;
  cursor: pointer;
}
#album_img .prev-img span:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  border-radius: 50px;
  cursor: pointer;
}
#album_img .prev-img.disabled {
  display: none;
}
#album_img .next-img.disabled {
  display: none;
}

.modal {
  color: black;
  text-decoration: none;
  font-family: Tenor Sans;
}

#modal_form {
  width: 450px;
  height: 100px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #FFFFFF;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}
#modal_form button #modal_close_YES, #modal_form button #modal_close_NO {
  width: 50px;
  height: 21px;
  margin-top: 50px;
  position: absolute;
  cursor: pointer;
}

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

#modal_form p {
  color: #000000;
  text-align: justify;
  font-family: Noto Sans;
  font-size: 20px;
}

.popup {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  width: 250px;
  padding: 20px;
  z-index: 20;
  background-color: #9c8e89;
}
.popup p {
  font-family: Noto Sans;
  color: #FFFFFF;
}
.popup.active {
  display: block;
}

.input_wrapper {
  position: relative;
}

.picture a {
  padding: 12px;
}

.photo {
  font-family: Noto Sans;
  font-size: 5px;
}
.photo img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.section {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
}
.section img {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 200px;
}

.text {
  font-family: Noto Sans;
  font-size: 20px;
  color: #000000;
  margin-top: 190px;
  text-align: center;
}

.text_me {
  text-indent: 20px;
  color: #000000;
  text-align: justify;
  font-family: Noto Sans;
  font-size: 25px;
  margin-left: 20%;
  margin-right: 20%;
}
.text_me a {
  color: #000000;
  margin-top: 7%;
  font-family: Tenor Sans;
  text-align: justify;
  font-size: 30px;
  margin-left: 2%;
}

.content {
  margin-top: 100px;
}

.film {
  text-indent: 20px;
  color: #000000;
  text-align: justify;
  font-family: Noto Sans;
  font-size: 25px;
  margin-left: 2%;
  margin-right: 2%;
}

.album {
  font-family: Noto Sans;
  color: #000000;
  font-size: 30px;
  text-align: center;
}
.album img {
  width: 100%;
}

.wrapper_album_img {
  display: flex;
  justify-content: center;
}

#album_img {
  display: none;
  width: auto;
  height: 700px;
  top: 100px;
  position: fixed;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 100px -5px rgba(34, 60, 80, 0.2);
  z-index: 3;
}
#album_img img {
  width: auto;
  height: 700px;
  border-radius: 10px;
}
#album_img figcaption {
  position: absolute;
  bottom: 40px;
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  width: 100%;
  font-family: Tenor Sans;
}

#black_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
#black_bg:hover {
  cursor: pointer;
}

.brd {
  height: 100%;
  border: 4px double black;
  /* Параметры границы*/
  padding: 10px;
  /* Поля вокруг текста*/
  margin-left: 34%;
  margin-right: 34%;
}

.gender {
  text-align: center;
  color: #000000;
  font-family: Noto Sans;
  font-size: 18px;
}

.current a {
  color: #000000;
}

form p {
  color: #000000;
  text-align: justify;
  font-family: Noto Sans;
  font-size: 15px;
}

legend {
  color: #000000;
  text-align: center;
  font-family: Tenor Sans;
  font-size: 30px;
  margin-bottom: 5px;
}

menu li a {
  color: #000000;
  font-family: Tenor Sans;
  font-size: 25px;
  margin-top: 7%;
  margin-left: 20%;
}

body {
  background-color: #FFFFFF;
  background: url("../img/FON.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
}

a {
  color: white;
  font-family: Tenor Sans;
  font-size: 20px;
  text-align: center;
}

article {
  text-align: center;
  color: #000000;
  font-family: Tenor Sans;
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 3%;
}

footer {
  margin-top: 4%;
  background-color: #7B6E6A;
  color: white;
  display: block;
  height: 250px;
  left: 0;
  position: absolute;
  width: 100%;
}

address {
  text-align: center;
  margin-top: 5%;
}

footer p {
  color: white;
  text-align: center;
  font-family: Tenor Sans;
  font-size: 20px;
  margin-top: 1%;
}

.footer footer {
  bottom: 0;
}

header {
  width: 100%;
  height: auto;
  height: 80px;
  background-color: #7B6E6A;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
}

#node {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  color: white;
  font-family: Noto Sans;
  font-size: 14px;
}

.wrapper {
  margin: 0 auto;
  display: flex;
}

.album {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: #000000;
  grid-gap: 50px;
}

.interestsBook {
  margin-left: 10%;
  margin-right: 10%;
}
.interestsBook img {
  height: 230px;
  width: auto;
  margin-top: 4%;
  border: 5px solid #FFFFFF;
}

.interestsFilm {
  margin-left: 10%;
  margin-right: 10%;
}
.interestsFilm img {
  text-align: center;
  height: auto;
  width: 30%;
  margin-top: 4%;
  border: 5px solid #FFFFFF;
}

#menu a.active {
  color: #000000;
}

.sub-menu {
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  color: #FFFFFF;
  position: absolute;
  background: #7B6E6A;
  padding: 10px;
  
}

.menu-item {
  position: relative;
}

.logo {
  width: 200px;
  float: left;
  height: 80%;
  display: block;
  margin-left: 15px;
  margin-top: 10px;
  color: white;
  font-family: Tenor Sans;
  font-size: 50px;
  text-decoration: none;
  cursor: pointer;
}

.NV {
  font-family: Tenor Sans;
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.top-menu {
  margin: 0 auto;
  width: 685%;
  height: 80px;
  float: left;
  align-items: center;
}
.top-menu ul li {
  display: inline-block;
  float: left;
  align-items: center;
  display: inline-block;
}
.top-menu ul li a {
  display: grid;
  grid-template-columns: 4fr 0.5fr;
  grid-gap: 1px 1px;
  padding: 3px 0;
  width: 180px;
  text-decoration: none;
  font-family: Noto Sans;
  font-size: 14px;
  color: white;
  height: 55px;
  padding-top: 15px;
  cursor: pointer;
}


.calendar-wrapper {
  position: relative;
  z-index: 20;
}

#calendar {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  top: 80px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #9c8e89;
  color: #FFFFFF;
}

.calendar-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 0;
  align-items: center;
}

#today_day_of_week {
  margin-left: 20px;
  padding: 5px 15px;
  transition: 0.3s;
}
#today_day_of_week:hover {
  cursor: pointer;
  border-radius: 100px;
  color: #000000;
  transition: 0.3s;
}

#calendar select {
  border: 0;
  border-radius: 0;
  width: auto;
  background-color: #9c8e89;
  color: #fff;
}
#calendar input {
  width: 60px;
  border: 0;
  border-radius: 0;
  background-color: #9c8e89;
  color: #fff;
}
#calendar hr {
  border: 0;
  background-color: rgba(156, 142, 137, 0.5);
  width: 100%;
  height: 1px;
  margin: 0;
}
#calendar table tbody td {
  padding: 5px 15px;
  text-align: center;
  transition: 0.3s;
  border-radius: 100px;
  margin-left: 10px;
}
#calendar table tbody td.active {
  background-color: #ebcfc4;
}
#calendar table tbody tr:not(.not-hover) td:not(.not-hover):hover {
  cursor: pointer;
  transition: 0.3s;
  color: #000000;
}

#days {
  padding: 10px;
}

.days-of-week {
  padding-left: 10px;
}

.visit table {
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  color: #FFFFFF;
  background-color: #D6CBC8;
  width: 50%;
  margin-top: 8%;
  margin-left: 25%;
}
.visit th {
  border-bottom: 2px solid;
  border-right: 30px solid;
  border-left: 30px;
  color: #039;
  padding: 8px 2px;
}
.visit td {
  border-right: 30px;
  border-left: 30px;
  color: #FFFFFF;
  padding: 12px 2px;
  border-bottom: 1px solid white;
}
.visit tr:hover td {
  color: #000000;
}