 th{
 	color: white;
 	font-family:Tenor Sans;
	font-size: 20px;
	text-align: center;

 }


table{
	text-align: center;
	}

 td{		
	  
	  margin: 0.5em;
	  padding: 0.5em;
	  text-align: center;
   		}
  img{
  	width: 100%;
  }

