* {
    padding: 0px;
    margin: 0;
}

.main_block {
    width: 800px;
    margin: 0 auto;
    padding-top: 70px;
}

header {
    background-color: black;
    width: 100%;
    height: 70px;
    position: fixed;
}

.myanchor {
    padding-top: 70px;
    margin-top: -70px;
}

nav ul {
    width: 800px;
    padding-top: 25px;
    margin: 0 auto;
}

nav ul li {
    list-style-type: none;
    font-size: large;
    display: inline;
    padding-right: 20px;
}

nav ul a {
    text-decoration: none;
    color: cyan;
}

#photo {
    float: left;
    width: 300px;
    height: 300px;
}

.subMenu {
    padding-top: 0px;
    margin-top: -1px;
    width: 150px;
    position: absolute;
    background-color: black;
    margin-left: 250px;
}

.subMenu a {
    display: block;
}

.title {
    text-align: center;
}

#lab_name {
    text-align: center;
}

#name {
    padding-top: 100px;
}

#tab_text {
    text-indent: 20px;
}

main table {
    margin: 0 auto;
    border-collapse: collapse;
}

.border_table td,
.border_table th {
    padding: 3px;
    border: 1px solid black;
}

.img {
    width: 100px;
    height: 100px;
}

.name_photos {
    text-align: center;
}

.photos td {
    padding: 3px;
}

.time {
    color: white;
}

.birthdayTable {
    padding: 10px;
    width: 280px;
    height: 300px;
    border: solid 1px black;
    display: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bigPhoto {
    position: fixed;
    display: none;
    top: 100px;
    bottom: 100px;
    left: 400px;
    right: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    align-content: center;
}

.bigPhoto img {
    height: 100%;
    width: 100%;
}

.day {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 3px;
    background-color: black;
    display: inline-flex;
    color: white;
}

.day h2 {
    margin: 0 auto;
}

#days,
#daysOfWeek {
    padding: 2px;
}

.dayOfWeek {
    width: 35px;
    height: 35px;
    display: inline-flex;
    color: black;
    padding-left: 1px;
}