%header
    %nav
        %ul#menu
            %li
                %a{:href => "index.html"} Главная
            %li
                %a{:href => "aboutMe.html"} Обо мне
            %li.menu-item
                %a{:href => "interests.html"} Мои интересы
            %ul.sub-menu
                %li
                    %a{:href => "interests.html#hobby"} Моё хобби
                %li
                    %a{:href => "interests.html#books"} Мои любимые книги
                %li
                    %a{:href => "interests.html#films"} Мои любимые фильмы
            %li
                %a{:href => "education.html"} Учёба
            %li
                %a{:href => "album.html"} Фотоальбом
            %li
                %a{:href => "contact.html"} Контакт
            %li
                %a{:href => "test.html"} Тест по дисциплине
            %li
                %a{:href => "history.html"} История
        #time 00:00:00 1 январь 1970
