!!!
%html{:dir => "ltr", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Персональный сайт Шведенко Александра. История
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %script{:src => "Libs/jquery.js"}
  %body
    = Haml::Engine.new(File.read('./header.haml')).render
    %main
      %section.page-name
        %span История
      .content-wrapper
        .grey-block.education-page
          %table#history_table
            %tr
              %td
              %td Итория текущего сеанса
              %td История за всё время
    %footer
    %script{:charset => "utf-8", :src => "js/index.js"}